@import '../Commons/Commons.scss';
@import '~include-media/dist/include-media';


.myplan_container {
    width: 300px;
    height: 200px;
    background: white;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index: 999;
    
    position:absolute;
    top:50%;
    left: 50%;

    // border:1px solid black;
    border-radius: 10px;

    .myplan_top_section {
        width: 100%;
        height: 30px;
        background-color: rgb(233, 192, 198);
        border-radius: 8px 8px 0px 0px;
    }
    
}

.myplan_btn {
    margin-top: 20px;
    cursor: pointer;

    button {
        margin:10px;
        // background: $primary-color;
        background: transparent;
        border-radius: 5px;
        padding: 5px;
        border: 2px solid $primary-color;
    }
    button:hover {
        cursor: pointer;
        background: $primary-color;
    }
}