@import '../components/Commons/Commons.scss';
@import '~include-media/dist/include-media';


@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
} 

/*=========================================================
    배너 정의
=========================================================*/
.sub_visual{
    margin-top:92px;
    box-sizing: border-box;
    padding:100px 0 100px 0;
    position: relative;
    color:#fff;
}

.sub_visual .bg_w{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}

.sub_visual .bg{
    background:url(./img/detailBack_02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.sub_visual .sub-t{
    position: relative;
    z-index: 1;
}

.sub-t{
    font-size:45px;
    color:#fff;
    text-align: center;
    line-height: 1.5;
}


/*=========================================================
    푸터 높이 고정 시키기 위해 감싸주는 박스 정의
=========================================================*/
.detailBox{
    min-height:100vh;
    margin-top: 92px;
    box-sizing: border-box;
    position: relative;
}


.d_box{
    width:100%;
    max-width: 1400px;
    background:#f7f7f7;
    border:1px solid #000;
    padding:60px 70px;
    margin:0 auto;

    display:flex;
    align-items: center;
}


.line_box{
    margin-top:50px;
}

.line_box2{
    margin-top:70px;
}




/*=========================================================
    평균 평점 보여주는 부분 정의
=========================================================*/
.all_box{
    margin-bottom:20px;
}

.all_txt{
    margin-right:10px;
}

.all_box b{
    font-family: 'GmarketSans';
    font-size:24px;
}





/*=========================================================
    왼쪽 박스 정의
=========================================================*/
.img_w{
    width:340px;
}


/*=========================================================
    오른쪽 박스 정의
=========================================================*/
.d_info{
    min-height: 350px;
    margin-left:50px;
    flex:1;
}


/*=========================================================
    타이틀 정의
=========================================================*/
.info_first{
    display:flex;
    justify-content:space-between;
}

.d_info h1{
    font-size:24px;
}

.like_btn {
    width: 10%;
    height: 30px;
    background-color: transparent;
    border:0;
    font-size: 1.5rem;
    color:rgba(255, 0, 0, 0.5);
    cursor: pointer;
    padding: 0;
} 


/*=========================================================
    세부 내용 정의
=========================================================*/
.d_ul{
    margin-top:25px;
}

.d_ul li{
    position: relative;
    border-bottom:1px solid #ddd;
    padding:10px 0;
    display:flex;
}

.d_dt{
    // padding-right:20px;
    font-size:14px;
    flex-basis: 5%;
}

.r_dt{
    font-size:14px;
    flex-basis: 95%;
}



/*=========================================================
    즐겨찾기 버튼 정의
=========================================================*/
.d_link{
    margin-top:25px;
    display:flex;
}

.bg-black_r{
    background:#fff;
    width:24%;
    height:55px;
    margin-right:2%;
    text-align: center;
    border:1px solid #000 !important;
}

.bg-black{
    background:#000;
    width:24%;
    height:55px;
    margin-right:2%;
    text-align: center;
    border:1px solid #000;
    color:#fff;
    cursor: pointer;
}

.bg-black:hover{
    background:#A24F63;
    color:#fff;
    border:1px solid #A24F63;
}

.ico-stars{
    display:inline-block;
    padding-left:25px;
    background:url(./img/ico-stars_renew.png) left center no-repeat;
    background-size: 1.1rem;
    font-size:16px;
}

.ico-stars2{
    font-size:16px;
}




/*=========================================================
    리뷰 작성 정의
=========================================================*/
.d_box2{
    width:100%;
    max-width: 1400px;    
    margin:0 auto;
    // border:1px solid #000;
    // padding:60px 70px;
    // background:#f8f8f8;
}





/*=========================================================
    리뷰 작성 후 아래에 추가되는 레이아웃 정의
=========================================================*/
.review_collector{
    width:100%;
    max-width: 1400px;    
    min-height:300px;
    margin:0 auto;
}









@include media('<1800px'){
    .detailBox{
        padding-left:40px;
        padding-right:40px;
    }
}


@include media('<1151px'){
    .d_info h1{
        font-size:18px;
    }

    .d_ul{
        margin-top:10px;
    }

    .d_dt{
        font-size:12px;
        flex-basis: 10%;
    }

    .r_dt{
        font-size:12px;
        flex-basis: 90%;
    }

    .ico-stars, .ico-stars2{
        font-size:14px;
    }
}



@include media('<901px'){
    .detailBox {
        margin-top:40px;
        margin-bottom:40px;
    }

    .d_box{
        flex-direction: column;
    }

    .d_info{
        margin-left:0;
        margin-top:40px;
    }

    .bg-black_r, .bg-black{
        width:45%;
    }
}

@include media('<501px'){
    .d_box{
        padding:25px 20px;
    }

    .d_info h1{
        font-size:16px;
    }
    .d_dt{
        flex-basis: 15%;
    }

    .r_dt{
        flex-basis: 85%;
    }
}


.d_like {
    display: flex;
    align-items: center;
}