@import '../Commons/Commons.scss';
@import '~include-media/dist/include-media';

.mapPart {

    display:flex;
    flex-direction:column; 
    width:100%;

    //221024
  @include media ('<1300px') {
    position:fixed;
    width: 100%;
    height: 35%;
  }
    
}
