@import '../Commons/Commons.scss';
@import '~include-media/dist/include-media';

.mapPart {

    // @include media('>1301px') {
    display:flex;
    flex-direction:column; 
    align-items:center;
    position:fixed;
    left:0;
    width:50%;
    // }

    //221024
  @include media ('<1300px') {
    width: 100%;
    height: 40%;
  }
    
}
