@import '../Commons/Commons.scss';
@import '~include-media/dist/include-media';


/*=========================================================
    
=========================================================*/
.galleryBox {
    width: 100%;
    // max-width: 1800px;
    max-width: 1400px;
    margin: 0 auto;
}


/*=========================================================
    카테고리 버튼 관련 정의
=========================================================*/
.buttonBox {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;

}


.buttonBox button {
    position: relative;
    background: none;
    font-size: 16px;
    border: 0;
    // width: 33.333%;
    display: table-cell;
    text-align: center;
    padding: 10px 20px;
    transition: 0.2s ease color;
    cursor: pointer;
    color: #000;
}

.buttonBox button:before,
.buttonBox button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.buttonBox button:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.buttonBox button:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

.buttonBox button:nth-child(1):before,
.buttonBox button:nth-child(2):before,
.buttonBox button:nth-child(3):before,
.buttonBox button:nth-child(4):before,
.buttonBox button:nth-child(5):before,
.buttonBox button:nth-child(6):before {
    background: $primary_color;
}

.buttonBox button:nth-child(1):after,
.buttonBox button:nth-child(2):after,
.buttonBox button:nth-child(3):after,
.buttonBox button:nth-child(4):after,
.buttonBox button:nth-child(5):after,
.buttonBox button:nth-child(6):after {
    background: $sub_color1;
}


.buttonBox button:hover:before,
.buttonBox button:hover:after {
    transform: scale(1);
}


.buttonBox .active button {
    color: $primary_color;
}



/*=========================================================
    카테고리에 맞게 리스트 보여주는 부분 정의
=========================================================*/
.galleryTitle{
    text-align: center;
    margin-bottom:2%;
}

.g_tit{
    font-size:45px;
}




/*=========================================================
    카테고리에 맞게 리스트 보여주는 부분 정의
=========================================================*/
.listBox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
    padding-bottom:120px;
}



/*=========================================================
    리스트 세부 정의
=========================================================*/
.listGallery {
    width: 18%;
    margin: 1%;
    text-align: center;
    position: relative;
}

.g_img {
    width: 100%;
    // height: 440px;
    height: 360px;
}


/*=========================================================
    listGallery 호버 시 배경 정의
=========================================================*/
.g_hover {
    position: absolute;
    top: 0;
    width: 100%;
    // height: 440px;
    height: 360px;
    padding: 5% 5%;
    transition: .5s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: left;
}

.listGallery:hover .g_hover {
    opacity: 1;
}


.g_tit_h1 {
    color: #fff;
    font-size: 16px;
    font-family: 'WandohopeR';
}

.g_tit_h2 {
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.g_tit_h3 {
    color: #fff;
    font-size: 12px;
    padding-top: 10px;
}

.g_tit_h4 {
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
}




/*=========================================================
    listGallery 호버 시 미니 아이콘 정의
=========================================================*/
.g_tit_img {
    width: 24px;
    margin-right: 10px;
}





/*=========================================================
    공연 일정 애니메이션 정의
=========================================================*/
.galleryTitle{
    opacity: 0;
    transform: translateY(50%);
    transition: .6s;
}

.galleryTitle.active{
    opacity: 1;
    transform: translateY(0);
}


/*=========================================================
    카테고리 버튼 관련 애니메이션 정의
=========================================================*/
.buttonBox{
    opacity: 0;
    transform: translateY(50%);
    transition: .6s;
}

.buttonBox.active{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}


/*=========================================================
    리스트 관련 애니메이션 정의
=========================================================*/
.listBox{
    opacity: 0;
    transform: translateY(20%);
    transition: .6s;
}

.listBox.active{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}







@include media('<1800px'){
    .g_img{
        height:375px;
    }

    .g_hover{
        height:375px;
    }
}


@include media('<1200px'){
    .listGallery{
        width:22%;
    }

    .g_img{
        height:340px;
    }

    .g_hover{
        height:340px;
    }

    .g_tit_h1{
        font-size:14px;
    }

    .g_tit_h2{
        padding-top:10px;
        font-size:10px;
    }

    p.g_tit_h3{
        font-size:10px;
    }

    .g_tit_h4{
        font-size:10px;
    }

    .g_tit_img{
        width:22px;
    }
}


@include media('<691px'){
    .listGallery{
        width:40%;
    }

    .g_img{
        height:300px;
    }

    .g_hover{
        height:300px;
        padding:5% 5%;
    }    

    .buttonBox{
        width:80%;
    }

    .buttonBox button{
        font-size:12px;
    }
}


@include media('<501px'){
    /* 공연 일정 카테고리 */
    .buttonBox button{
        padding:10px;
    }

    .g_tit{
        font-size:32px;
    }

    .g_tit_h4{
        display:none;
    }

    .g_img{
        height:280px;
    }

    .g_hover{
        height:280px;
    }

    .listBox{
        padding-bottom:80px;
    }


    /* 호버 시 */
    .g_tit_h1, .g_tit_h2, .g_tit_h3{
        display:flex;
        align-items: center;
    }
}