/*=========================================================
    
=========================================================*/
.galleryBox{
    width:100%;
    max-width:1800px;
    margin:0 auto;
}


/*=========================================================
    카테고리 버튼 관련 정의
=========================================================*/
.buttonBox{
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
}


/*=========================================================
    카테고리에 맞게 리스트 보여주는 부분 정의
=========================================================*/
.listBox{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}



/*=========================================================
    리스트 세부 정의
=========================================================*/
.listGallery{
    width:20%;
}