// .star input {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     opacity: 0;
//     cursor: pointer;
// }


.review_Container{
    min-height: 400px;
}

/*=========================================================
    리뷰 & 공연 후기 ~ 있습니다. 관련 정의
=========================================================*/
.review_tit{
    font-size:12px;
    margin-bottom:10px;
}

.review_tit2{
    color:#8f8f8f;
}


.review_line{
    font-size:10px;
    margin:0 5px;
    position:relative;
    top:-1px;
}


/*=========================================================
    textarea 관련 정의
=========================================================*/
textarea:focus {
    // outline: none;
    border-radius: none;
}

.rt_box{
    display:flex;
}


.tf_write{
    width:90%;
    height:116px;
    padding:20px;
    border:1px solid #dadada;
    font-size:14px;
    vertical-align: top;
    appearance: none;
    box-sizing: border-box;
    resize: none;
}


/*=========================================================
    사진 추가 관련 정의
=========================================================*/
.tf_label{
    border:1px solid #dadada;
    border-left:0;
    width:150px;
    height:116px;
    text-align: center;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.img_p{
    position: relative;
    top:5px;
    font-size:12px;
    color:#8f8f8f;
}




/*=========================================================
    reviewBox2 관련 정의
=========================================================*/
.reviewBox2{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
}


.drop_box{
    width:300px;
}


/*=========================================================
    평점 별 관련 정의
=========================================================*/
.star {
    position: relative;
    font-size: 15px;
    color: #ddd;
}

.star .one {
    width: 75px;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}

.star .two {
    width: 60px;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}

.star .three {
    width: 45px;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}

.star .four {
    width: 30px;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}

.star .five {
    width: 15px;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}


/*=========================================================
    review_star 관련 정의
=========================================================*/
.review_star{
    width:300px;
    height:35px;
    background:0;
    border:1px solid #dadada;
    padding:4px 10px;
    text-align: left;

    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}




/*=========================================================
    세부 내용 관련 정의
=========================================================*/
.select {
    width: 300px;
    height:35px;
    border: 1px solid #dadada;
    box-sizing: border-box;
}

.selected-value{
    font-size:12px;
    font-family: "Elice Digital Baeum", sans-serif;
}

.select .selected {
    width: 300px;
    height:35px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    box-sizing: border-box;
    align-items: center;
}


.select .selected .arrow {
    width: 24px;
    height:24px;
    background: url(./img/down_ar.png) no-repeat 70% 50%;
    background-size: 50% 50%;
}


/*=========================================================
    셀렉트 박스 오픈 되어 있을 때 클릭 시 숨김 
=========================================================*/
.select.active .drop_ul {
    display: none;
}

/*=========================================================
    드랍다운 정의
=========================================================*/
.drop_ul{
    width:300px;
    max-height:200px;
    box-sizing: border-box;
    padding:4px 10px;
    margin:0 0 4px 0;
    position: relative;
    left:-1px;
    top:-1px;
    overflow-x: hidden;
    overflow-y: auto;
    border:1px solid #dadada;
    border-top:0;    
}

.drop_ul li{
    line-height: 30px;
}


.option_box{
    display:flex;
    justify-content: space-between;
}

.start_txt{
    display:inline-block;
    font-size:12px;
    text-align: right;
}



/*=========================================================
    리뷰 등록하기 버튼 관련 정의
=========================================================*/
.review_submit{
    width:200px;
    height:35px;
    border:1px solid #000;
    background:#000;
    color:#fff;
}
