.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
}





/*=========================================================
    리뷰 & 공연 후기 ~ 있습니다. 관련 정의
=========================================================*/
.review_tit{
    font-size:12px;
    margin-bottom:10px;
}

.review_tit2{
    color:#8f8f8f;
}


.review_line{
    font-size:10px;
    margin:0 5px;
    position:relative;
    top:-1px;
}


/*=========================================================
    textarea 관련 정의
=========================================================*/
textarea:focus {
    // outline: none;
    border-radius: none;
}

.rt_box{
    display:flex;
}


.tf_write{
    width:90%;
    height:116px;
    padding:20px;
    border:1px solid #dadada;
    font-size:14px;
    vertical-align: top;
    appearance: none;
    box-sizing: border-box;
    resize: none;
}



.tf_label{
    border:1px solid #dadada;
    border-left:0;
    width:150px;
    height:116px;
    text-align: center;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.img_p{
    position: relative;
    top:5px;
    font-size:12px;
    color:#8f8f8f;
}

