@font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumRegular.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'EliceDigitalBaeum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/elice/EliceDigitalBaeumBold.ttf') format("truetype");
    font-display: swap;
} 

* {
	box-sizing: border-box;
}

body{
	position:relative;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'WandohopeR';
}

p, span, input, select, ul, li, table, dl, dt, dd{
	font-family: 'EliceDigitalBaeum';
}


ul,ol,li{
	list-style:none;
}

a{
	text-decoration: none;
}

table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

img{
    max-width: 100%;
    height:auto;
}

img,fieldset{
	border:0;
}

address,cite,code,em{
	font-style:normal;
	font-weight:normal;
}

label,img,input,select,textarea,button{
	vertical-align:middle;
}



//공통 색상 정의
$primary_color :#A24F63;
$sub_color1 :#6B3767;

// $sub_color2 :;
// $sub_color3 :;